# -*- Mode: sh -*-
# Define true if you want the OSS compatibility layer
# to be automatically loaded as well
startosslayer=true

# Define true if you want to unload alsa modules before 
# your system suspneds. This is currently useful if your
# machine is hanged up after resume.
force_stop_modules_before_suspend=false

# Uncomment if you always want to stop alsa modules forcibly in
# /etc/init.d/alsa stop or restart by killing all of running
# applications which use sound devices.
#ALSA_KILL_MODE="force"
